<a href="https://colab.research.google.com/github/billiahkerubo1/Week4-IP-by-Billiah/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_11_Billiah_Kerubo_Python_Data_Analysis_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing our libraries
import pandas as pd
import numpy as np

In [ ]:
#reading the dataset and creating dataframe
df = pd.read_csv('/content/Autolib_dataset (2).csv', parse_dates = ["Scheduled at"] , delimiter=',')
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
#previewing the dataset using the first 5 rows
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
#accessing the dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     datetime64[ns]
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: datetime64[ns](1), int64(12), object(12)
memory usage: 976.7+ KB

In [ ]:
#describing the shape of the dataframe
df.shape

(5000, 25)

In [ ]:
#for uniformity, convert columns to uppercase
df.columns = map(str.upper, df.columns)
df

                                 ADDRESS  CARS  ...  HOUR  MINUTE
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
#checking for any missing values
df.isnull().any()

ADDRESS                False
CARS                   False
BLUECAR COUNTER        False
UTILIB COUNTER         False
UTILIB 1.4 COUNTER     False
CHARGE SLOTS           False
CHARGING STATUS        False
CITY                   False
DISPLAYED COMMENT       True
ID                     False
KIND                   False
GEO POINT              False
POSTAL CODE            False
PUBLIC NAME            False
RENTAL STATUS          False
SCHEDULED AT            True
SLOTS                  False
STATION TYPE           False
STATUS                 False
SUBSCRIPTION STATUS    False
YEAR                   False
MONTH                  False
DAY                    False
HOUR                   False
MINUTE                 False
dtype: bool

In [ ]:
#Cleaning the dataset before analysis
#procedure 1: checking for null values
df.isnull().sum()

ADDRESS                   0
CARS                      0
BLUECAR COUNTER           0
UTILIB COUNTER            0
UTILIB 1.4 COUNTER        0
CHARGE SLOTS              0
CHARGING STATUS           0
CITY                      0
DISPLAYED COMMENT      4889
ID                        0
KIND                      0
GEO POINT                 0
POSTAL CODE               0
PUBLIC NAME               0
RENTAL STATUS             0
SCHEDULED AT           4953
SLOTS                     0
STATION TYPE              0
STATUS                    0
SUBSCRIPTION STATUS       0
YEAR                      0
MONTH                     0
DAY                       0
HOUR                      0
MINUTE                    0
dtype: int64

In [ ]:
#adjusting the columns with missing data
new_df = df.fillna({
    'Displayed comment' : 'no comment',
    'Scheduled at' : 'no schedule'
   });
(new_df)

                                 ADDRESS  CARS  ...  HOUR  MINUTE
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
#checking if the missing data has been corrected

new_df.isnull().any()

ADDRESS                False
CARS                   False
BLUECAR COUNTER        False
UTILIB COUNTER         False
UTILIB 1.4 COUNTER     False
CHARGE SLOTS           False
CHARGING STATUS        False
CITY                   False
DISPLAYED COMMENT       True
ID                     False
KIND                   False
GEO POINT              False
POSTAL CODE            False
PUBLIC NAME            False
RENTAL STATUS          False
SCHEDULED AT            True
SLOTS                  False
STATION TYPE           False
STATUS                 False
SUBSCRIPTION STATUS    False
YEAR                   False
MONTH                  False
DAY                    False
HOUR                   False
MINUTE                 False
dtype: bool

In [ ]:
#the basic statistical information
new_df.describe()

              CARS  BLUECAR COUNTER  ...         HOUR       MINUTE
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

In [ ]:
#Paris city records in April and over in 2018
d_paris = new_df[(new_df['CITY'] == 'Paris') & (new_df['MONTH'] >= 4) & (new_df['YEAR']==2018)]
d_paris

                                 ADDRESS  CARS  ...  HOUR  MINUTE
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
5                   8 Boulevard Voltaire     0  ...     7       2
...                                  ...   ...  ...   ...     ...
4992                     3 avenue d'Ivry     0  ...    23       1
4994                    15 rue de Rocroy     0  ...    20      49
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4999                 5 Rue Henry Brisson     4  ...    10       2

[2816 rows x 25 columns]

In [ ]:
#getting the hours of the Bluecar counter in Paris city
h_d_paris = d_paris[['ID','BLUECAR COUNTER','HOUR']]
h_d_paris

                              ID  BLUECAR COUNTER  HOUR
0                paris-suffren-2                0    11
1     paris-raymondlosserand-145                6     7
3          paris-eugeneoudine-51                3     4
4      paris-portedechamperret-6                3    17
5               paris-voltaire-8                0     7
...                          ...              ...   ...
4992                paris-ivry-3                0    23
4994             paris-rocroy-15                0    20
4996            paris-dantzig-37                4    16
4997               paris-bac-142                1     7
4999        paris-henrybrisson-5                4    10

[2816 rows x 3 columns]

In [ ]:
#getting the most popular hour of Bluecars in Paris
h_d_paris.sort_values(by = 'HOUR', ascending = False)

                            ID  BLUECAR COUNTER  HOUR
2779    paris-julienlacroix-39                6    23
2053         paris-flandre-169                0    23
141   paris-quatreseptembre-10                0    23
1129         paris-chapelle-75                0    23
4463        paris-louisblanc-6                0    23
...                        ...              ...   ...
3104       paris-vaugirard-230                4     0
3102       paris-lafayette-143                0     0
2011         paris-berthier-97                5     0
3097          paris-macmahon-5                2     0
2608          paris-villiot-20                0     0

[2816 rows x 3 columns]

In [ ]:
#overall most popular station
new_df.sort_values(by = 'STATION TYPE', ascending = False)

                             ADDRESS  CARS  BLUECAR COUNTER  ...  DAY  HOUR  MINUTE
2038       20 Quai de la MÃ©gisserie     0                0  ...    9     2       2
4053       20 Quai de la MÃ©gisserie     0                0  ...    4     5       1
3985       20 Quai de la MÃ©gisserie     0                0  ...    2    13      28
0                2 Avenue de Suffren     0                0  ...    8    11      43
3268             67 rue Mademoiselle     4                4  ...    4    21      58
...                              ...   ...              ...  ...  ...   ...     ...
2024             77 Rue Jean Bleuzen     3                3  ...    3    17       6
2804                15 Rue de Verdun     2                2  ...    8    14      47
3959          10 Rue Anizan Cavillon     0                0  ...    2     3      19
959   47 Boulevard Charles de Gaulle     3                3  ...    7     7      50
1017           2 rue Pierre Renaudel     3                3  ...    1    18      53

[5000 rows x 25 columns]

In [ ]:
#finding the most popular hour
pop_hr = new_df.sort_values( by = 'HOUR', ascending = False)
pop_hr

                                  ADDRESS  CARS  ...  HOUR  MINUTE
581                65 boulevard de Picpus     5  ...    23      41
906                       29 rue d'Alsace     4  ...    23      56
2043             12 bis Route de la Reine     1  ...    23      36
1291                      88 rue de Bercy     0  ...    23      41
4174                 41 Boulevard Pasteur     0  ...    23      25
...                                   ...   ...  ...   ...     ...
4530           4 boulevard Anatole France     4  ...     0      13
1888  31 rue du Professeur Victor Pauchet     0  ...     0      48
519              42 rue Gardenat Lapostol     5  ...     0      31
523                      77 Quai de Seine     0  ...     0      40
2874            44 rue SÃ©bastien Mercier     0  ...     0       2

[5000 rows x 25 columns]

In [ ]:
#finding popular station on popular hour
pop_st = pop_hr.sort_values(by = 'STATION TYPE')
pop_st

                        ADDRESS  CARS  BLUECAR COUNTER  ...  DAY  HOUR  MINUTE
4322         26 avenue Trudaine     0                0  ...    6    11      31
3476      2 rue Pierre Renaudel     3                3  ...    5     3       2
39            1 rue Jean Monnet     5                5  ...    2     8      37
3405        8 rue des Chantiers     2                2  ...    9    20      58
1703           1 rue FrÃ©pillon     5                5  ...    8     8       9
...                         ...   ...              ...  ...  ...   ...     ...
506         35 rue Vauvenargues     3                3  ...    4    15      42
2874  44 rue SÃ©bastien Mercier     0                0  ...    1     0       2
2038  20 Quai de la MÃ©gisserie     0                0  ...    9     2       2
3985  20 Quai de la MÃ©gisserie     0                0  ...    2    13      28
4053  20 Quai de la MÃ©gisserie     0                0  ...    4     5       1

[5000 rows x 25 columns]

In [ ]:
#getting the popular postal code for bluecars
b_pop_pc = new_df[['ID','BLUECAR COUNTER','POSTAL CODE', 'SLOTS']].sort_values(by = 'SLOTS', ascending = False)
b_pop_pc

                                         ID  ...  SLOTS
1185  fontenaysousbois-jeanpierretimbaud-17  ...      7
2802                    bezons-emilezola-50  ...      7
3023            yerres-pierrebrossolette-92  ...      7
4838                        paris-renault-2  ...      7
1018                    bezons-emilezola-50  ...      7
...                                     ...  ...    ...
2516    fontenayauxroses-divisionleclerc-31  ...      0
2519                paris-charleshermite-52  ...      0
2522            paris-saintjacques1-parking  ...      0
2528                     paris-marcadet-150  ...      0
4999                   paris-henrybrisson-5  ...      0

[5000 rows x 4 columns]

In [ ]:
#checking if the popular station belongs in popular postal code
pop_st['STATION TYPE'].isin(['POSTAL CODE'])

4322    False
3476    False
39      False
3405    False
1703    False
        ...
506     False
2874    False
2038    False
3985    False
4053    False
Name: STATION TYPE, Length: 5000, dtype: bool

In [ ]:
#checking for popular hour using utility counter in Paris city in April
utilib_pop_hr = d_paris[['ID', 'UTILIB COUNTER','HOUR']].sort_values (by = 'HOUR', ascending = False)
utilib_pop_hr

                            ID  UTILIB COUNTER  HOUR
2779    paris-julienlacroix-39               0    23
2053         paris-flandre-169               0    23
141   paris-quatreseptembre-10               0    23
1129         paris-chapelle-75               0    23
4463        paris-louisblanc-6               0    23
...                        ...             ...   ...
3104       paris-vaugirard-230               0     0
3102       paris-lafayette-143               1     0
2011         paris-berthier-97               0     0
3097          paris-macmahon-5               1     0
2608          paris-villiot-20               0     0

[2816 rows x 3 columns]

In [ ]:
#checking for most popular hour for Utilib 1.4 cars in Paris in April
utilib2_cars = d_paris[['ID', 'UTILIB 1.4 COUNTER','HOUR']].sort_values (by = 'HOUR', ascending = False)
utilib2_cars

                            ID  UTILIB 1.4 COUNTER  HOUR
2779    paris-julienlacroix-39                   0    23
2053         paris-flandre-169                   0    23
141   paris-quatreseptembre-10                   0    23
1129         paris-chapelle-75                   0    23
4463        paris-louisblanc-6                   0    23
...                        ...                 ...   ...
3104       paris-vaugirard-230                   0     0
3102       paris-lafayette-143                   0     0
2011         paris-berthier-97                   0     0
3097          paris-macmahon-5                   1     0
2608          paris-villiot-20                   0     0

[2816 rows x 3 columns]